html{
	margin: 0px;
	padding:0px;
}
.error{
	color: #F7FE2E;
}
input[type="submit"]{
	margin-top: 15px;
}
.lblLogin{
	font-family: "Dungeon";
	font-size: 30px;
	color: #ffffff;
}
.full {
  background: url(http://1.bp.blogspot.com/-24Clxhfmpsk/Uv6ghm_8mPI/AAAAAAAAeNA/5iH1x-nD6PM/s1600/Fondos+de+Pantalla+Gratis+Abstractos+%2528211%2529.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}